.logo {
  flex: 1;
  margin-left: 3vw;
  margin-top: 3vh;
}

.logo-text {
  color: #2E2424;
  margin: 0px;
  display: block;
  width: 4.5rem;
  text-align: right;
  border-bottom: 0.1rem solid #80C79E;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 5vw;
    margin-top: 2vh;
  }
}

@media screen and (min-width: 1366px) {
  .logo {
    margin-left: 8vw;
    margin-top: 1vh;
  }
}