.nav-links {
  display: none;
  margin-top: 4vh;
}

.nav-links > li {
  flex: 1;
  display: list-item;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #2E2424;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .nav-links {
    list-style: none;
    list-style-image: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
}
