header {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

@media screen and (min-width: 768px) {
  header {
    height: 8vh;
    width: 90%;
  }
}

@media screen and (min-width: 1366px) {
  header {
    height: 8vh;
    width: 80%;
  }
}