#main-headline {
  width: 80vw;
  padding-bottom: 20vh;
  margin-left: 5vw;
}

@media screen and (min-width: 768px) {
  #main-headline {
    margin-left: 10vw;
  }
}

@media screen and (min-width: 1366px) {
  #main-headline {
    margin-left: 20vw;
  }
}