main {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

#main-headline {
  margin: auto;
  margin-left: 5vw;
  flex: 1
}

.myson{
  display: none;
}


@media screen and (min-width: 768px) {
  #main-headline {
    margin-left: 10vw;
  }

  .myson {
    flex: 1;
    width: auto;
    height: 30vw;
    margin: auto;
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  #main-headline {
    margin-left: 20vw;
  }
}
